<ion-view title="Item description" id="page9">
  <ion-content padding="true" class="has-header">
    <h3 id="itemDescription-heading9" style="color:#000000;text-align:center;">About the item</h3>
    <div class="list card" id="itemDescription-card24">
      <ion-item id="itemDescription-list-item24">{{item.name}}</ion-item>
      <div class=" item item-image">
        <img src="{{item.pictureURL}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="itemDescription-list-item-container20">
        <div id="itemDescription-markdown32" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">{{item.description}}</p>
        </div>
        <p>
          <a href="#" class="subdued">{{item.price}}</a>
        </p>
      </div>
    </div>
    <h3 id="itemDescription-heading10" style="color:#000000;text-align:center;">About the renter</h3>
    <ion-list id="itemDescription-list8">
      <ion-item class="item-thumbnail-left" id="itemDescription-list-item26">
        <img src="{{item.renters_picture_url}}">
        <p>Tap here to see renter's Facebook profile page</p>
      </ion-item>
    </ion-list>
    <!-- <a ui-sref="tabsController.chat({&quot;conversation_partner&quot;:&quot;&quot;+item.renters_name+&quot;&quot;})" id="itemDescription-button11" class="button button-positive  button-block icon-left ion-ios-chatboxes">Start chatting with the owner</a> -->

  <button class="button button-block button-royal" ng-click="rent_item()" >
    Rent an item for $0.50
  </button>
  <div class="padding center">
            <p ng-show="ResponseData.loading">
              Loading...
            </p>
            <p ng-show="ResponseData.token">
              Token: <strong>{{ResponseData.token}}</strong>
            </p>
            <p ng-show="ResponseData.paymentId">
              Payment Id: <strong>{{ResponseData.paymentId}}</strong>
            </p>
    </div>
  </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Pay with Card</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Name on Card</span>
              <input ng-model="payment.name_on_card" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Card Number</span>
              <input ng-model="payment.card_number" type="tel">
            </label>
            <label class="item item-input">
              <span class="input-label">Expiration Month</span>
              <input ng-model="payment.exp_month" type="tel">
            </label>
            <label class="item item-input">
              <span class="input-label">Expiration Year</span>
              <input ng-model="payment.exp_year" type="tel">
            </label>
            <label class="item item-input">
              <span class="input-label">CVC</span>
              <input ng-model="payment.cvc" type="tel">
            </label>
            <button class="button button-full button-positive" ng-click="submit_payment(payment)">Submit payment</button>
            <p>Don't worry! We are not going to share you credit/debit card information.</p>
          </div>
        </ion-content>
    </ion-modal-view>
</script>
