<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" id="page5" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="login-form1" class="list" ng-submit="addMessage()">
      <div>
        <img src="img/xb5rrCWfSbqiTDjQLxxK_login_screen.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </form>
    <div id="login-button-bar1" class="button-bar">
      <button id="login-button6" ng-click="anotherLogin()" style="font-weight:300;" class="button button-balanced  button-block icon-left ion-social-facebook facebook">Login with Facebook</button>
    </div>
    <div id="login-button-bar2" class="button-bar"></div>
    <div id="login-markdown2" class="show-list-numbers-and-dots text-colored-half-dark-green">
      <p style="color:#3FD281;font-size:12px;">
        <strong>To make sure you are a real person, we ask to you to login either with your Facebook or LinkedIn account.</strong>
      </p>
    </div>

    <!--<button id="login-button10" ng-click="anotherLogin()" style="font-weight:300;" class="button button-stable  button-block">another FB login</button>-->




  </ion-content>
</ion-view>